@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

body {
  font-family: "Quicksand";
  color: black;
  font-weight: 300;
  text-align: center;
}

.container {
  width: 300px;
  height: 390px;
  background-color: white;
  position: absolute;
  border-radius: 12%;
  box-shadow: 1px 8px 10px 1px rgb(44, 62, 80, 0.3);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.material-icons.md-18 {
  font-size: 18px;
  margin-left: 60px;
  margin-top: 20px;
  color: #ff9494;
  position: absolute;
  cursor: pointer;
}

#replay {
  display: none;
}

h1 {
  margin-top: 15px;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(38, 38, 38);
}

.background-circle {
  width: 240px;
  height: 240px;
  /*background: linear-gradient(to right, #2c3e50, #4ca1af);*/
  background: linear-gradient(to right, #fff5e4, #ff9494);

  border: none;
  clip-path: circle(50%);
  margin: auto;
  margin-top: -10px;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.circle {
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  background: white;
  background-size: 300% 300%;
  clip-path: circle(25%);
  margin: auto;
  margin-top: -25px;
  border: none;
  position: relative;
}

.circle.anim {
  animation: circle 10s 6;
}
.circle::after {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: flex;
}

.circle.anim::after {
  -webkit-animation: content 10s 6; /* Safari 4+ */
  -moz-animation: content 10s 6; /* Fx 5+ */
  -o-animation: content 10s 6; /* Opera 12+ */
  animation: content 10s 6; /* IE 10+, Fx 29+ */
}

h2 {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 300;
  color: rgb(38, 38, 38);
}

.finish {
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  color: black;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  position: relative;
  text-align: center;
  line-height: 100px;
  opacity: 0;
}

.finish.anim {
  -webkit-animation: finish 62s; /* Safari 4+ */
  -moz-animation: finish 62s; /* Fx 5+ */
  -o-animation: finish 62s; /* Opera 12+ */
  animation: finish 62s; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}

@keyframes circle {
  0% {
    clip-path: circle(25%);
  }
  40% {
    clip-path: circle(47%);
  }
  100% {
    clip-path: circle(25%);
  }
}

@keyframes content {
  0%,
  40% {
    content: "BREATHE IN";
  }
  41%,
  100% {
    content: "BREATHE OUT";
  }
}

@keyframes finish {
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
