@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body{
  font-family: 'Quicksand';
	color: black;
	font-weight:300;
  text-align: center;  
}

.container {
  width: 280px;
  height: 380px;
  background-color: white;
  position: absolute;
  border-radius: 12%;
  box-shadow: 0 15px 30px 0 rgba(90, 116, 148, 0.3);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
	margin-top: 20px;
	font-size: 3rem;
	font-weight:300;
}

.background-circle {
	width:240px;
	height:240px;
	background: rgba(0,0,0,0.2);
	border: none;
	clip-path: circle(50%);
  margin: auto;
  margin-top: -10px;
}

.circle {
	width: 240px;
	height:240px;
	justify-content:center;
	align-items: center;
	background: rgba(0,0,0,0.4);
	clip-path: circle(25%);
	left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border:none;
  position: relative;
  animation: circle 10s 6;
}
.circle::after {
	content:'';
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
	font-size: 13px;
	letter-spacing:0.1rem;
	font-weight: 400;
	color: white;
	display:flex;
  -webkit-animation: content 10s 6; /* Safari 4+ */
  -moz-animation:    content 10s 6; /* Fx 5+ */
  -o-animation:      content 10s 6; /* Opera 12+ */
  animation:         content 10s 6; /* IE 10+, Fx 29+ */
}


.finish {
	width: 100px;
	height: 100px;
  left: 50%;
  top: 50%;
	color: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border:none;
  position: relative;
  text-align:center;
  line-height:100px;
  opacity: 0;
	-webkit-animation: finish 63s; /* Safari 4+ */
  -moz-animation:    finish 63s; /* Fx 5+ */
  -o-animation:      finish 63s; /* Opera 12+ */
  animation:         finish 63s; /* IE 10+, Fx 29+ */
	animation-fill-mode: forwards;
}

@keyframes circle {
  0% { 
		clip-path: circle(25%);
	}
	40% {
		clip-path: circle(50%);
	}
  100% {
		clip-path: circle(25%);
	}
}

@keyframes content {
	0%,40% {
		content:'BREATH IN';
		opacity: 1;
	}
	41%,100%{
		content: 'BREATH OUT';
	}
}

@keyframes finish {
    95% {
				opacity: 0;
    }
    100% {
				opacity: 1;
    }
}

